Magnification:
<span style="font-family:Courier;">(<span id="magnification_level"></span>x)</span>
<img src="/images/magnify_plus.gif" border="0" width="18" height="18" style="cursor:pointer;" onclick="training.bump_up_magnification();" />
<img src="/images/magnify_minus.gif" border="0" width="18" height="18" style="cursor:pointer;" onclick="training.bump_down_magnification();" />