<div style="width:550px; padding: 10px; margin: 10px; border: 1px solid black;">
  It seems you have already tried to submit to MTurk.<br /><br />
  Many users are experiencing this problem.<br /><br />
  Wait a minute or so, then
  click below to try again:<br />
  <%= render 'mturk_form' %>
  <br /><br />
  <div style="text-align:left;">
    If you have tried this submission multiple times without MTurk accepting it, be sure to:
    <ol>
      <li>Return the HIT to MTurk immediately</li>
      <li><em>Contact us</em> and <strong>include</strong> your Paypal address</li>
    </ol>
    We keep full records and we will gladly pay you via Paypal. Our MTurk
    reputation is <em>very</em> important to us and we want all Turkers to be treated fairly.
  </div>
</div>