<div style="padding-top: 150px; padding-bottom: 150px; padding-left:20px; padding-right:20px; width: 450px; border: 1px solid black; background: rgb(255,200,200);">
  You have already completed a HIT set. There is a limit of one HIT set per turker. Thanks again!
</div>