<div style="padding: 5px; border: 1px solid black;">
  We're sorry.<br /><br />
  This HIT is not for you; it is for someone else; not you.<br /><br />
  Return this HIT immediately to avoid a rejection.
</div>