<div style="padding:20px; width: 600px; border: 1px solid black; text-align:left;">
  <h1>Object Identification in Images</h1>
  <% if Rails.env.development? %>Hit #<%= @mhit.id %><% end %>
  <p>
    In this HIT, you will be presented with images that have
    "objects of interest" to click on.
  </p>
  <p>
    After completing your first image, you will be able to work on an
    <strong>unlimited</strong> number of additional images of comparable
    difficulty. The first image pays more to compensate for training.
  </p>
  <p>
    Be careful not to leave or return this HIT, because you will 
    <strong style="color:red;">not have a
    chance to do another one after leaving</strong>.
  </p>
  <p>
    Before doing the first image, we will show you a short instructional video
    explaining how to identify the objects. You will then be asked to answer
    a few questions to confirm your understanding.
  </p>
  <p>
    Additionally, this HIT only works if you have a Windows operating system,
    <strong>working sound</strong>, and Firefox, version 6 or higher.
  </p>
  <p>
    We would also appreciate any feedback you have. We believe we've worked out
    all the major technical issues. However, if you notice something strange, we
    would appreciate any comments you have.
  </p>
  <p>
    Click on "Accept HIT" above to get started.
  </p>
</div>