<div style="padding: 5px; border: 1px solid black;">
  We're sorry.<br /><br />
  On this particular batch of images, a worker is only allowed to submit one image.
  You have already submitted one image previously.<br /><br />
  Thanks again for using Simmons.
</div>