<div style="padding-top: 150px; padding-bottom: 150px; padding-left:20px; padding-right:20px; width: 450px; border: 1px solid black; background: rgb(255,200,200);">
  We're sorry; you cannot do these HITs if you under the age of 
  <%= ColorBlindnessTest::MIN_AGE %> 
  or over the age of
  <%= ColorBlindnessTest::MAX_AGE %> .
</div>